.cloudflare.cfg
config.yaml
.cache.yaml

# Generic
*~
~*
Thumbs.db
desktop.ini
._*
.DS_Store
__MACOSX/
*.tmp
*.bak
*.swp
*.old
*.undo
*.cache
tmp
bak
swp
old
undo
cache

# IDEs
.idea/
.vscode/
.vs/

# Python
*.py[cod]
venv/
.mypy_cache/
